<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.test.actitime.CreateCustomerLogout"/>
      <class name="com.test.actitime.LoginLogout"/>
      <class name="com.test.actitime.CreateWorkLogout"/>
      <class name="com.test.actitime.CreateLeaveLogout"/>
      <class name="com.test.actitime.Papu"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
